/* This is a quick project haven't use any styling techniques. 
	TODO :  Implement SCSS + Autoprefixer in the future.
*/

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #F7F6F6;
}


.main {
	min-height:100%;
    width:100%;
    position:relative;
}

/* left side bar */
.side-bar {
	color : #F7F6F6 ; /* Whitesmoke */
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    width: 10%;
    float: left;
	background: #5A4A4F;
}

/* right main content */
.dynamic-container {
	/* This makes the element grow and take all available space, not taken by the sidebar */
    min-height: 500px;
	width: 90%;
	position: relative;
	background-color: #F7F6F6;
	float: right;
	padding-left: 30px;
}

.cookbook-icon {
	font-size: 45px;
}

.hr-below-icon {
	border : 5px solid #957A84;
}

.star {
	color: #FFCC66;
}

.recipe-description {
	height: 70px;
	text-overflow: ellipsis;
	color : #666666;
	overflow: hidden; /* Limit to 70 Charactes only so it will not be hidden */
}

.saved-icon {
	color : #EF6161;
}

 
.recipe-card-title {
	cursor: pointer;
	color: #666666 ;
	text-decoration: none;
}

.recipe-card-title:hover {
	cursor: pointer;
	color: #373838 ;
	border-bottom: #373838;
	text-decoration: underline;
}


.edit-card:hover {
	-webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
} 

.thumbnail {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.view-recipe-right {
	position: relative;
	top: 15px;
}

.view-recipe-right > .hand-hover > i {
	font-size: 3rem;
}

.close-view-recipe > i {
	font-size: 3em;
	padding-right: 15px;
}
.close-view-recipe {
	position: relative;
	top: 15px;
}

textarea.materialize-textarea{
	height: 6rem;
}

.collection-item {
	float: left;
}

.collection > .badge {
	float : right;
}

.edit-field-title {
	border-bottom: 1px solid #DE907F !important;
	box-shadow: none !important;
	font-size : 34.2px !important;
	padding-left : none;

}

.edit-ingredient-field {
	border-bottom: 1px solid #9e9e9e !important;
	box-shadow: none !important;
}

.edit-textarea {
	border: none;
	border-bottom: 1px solid #9e9e9e !important;
	user-select: none;
	resize :vertical;
	white-space: normal;
    vertical-align:middle;
    min-height: 50px;
}

.description-edit-icon {
	font-size : 16px;
}

.edit-icon-title {
	position: relative;
	top: 25px;
}

.comments-section {
	min-height: 100px !important;
}

.hamburger-icon {
	padding-left: 15px;
	padding-top: 15px;
	cursor: pointer;
}

.editStar {
	width: 60px !important;
}

.recipe-card > div.card-content > div > div.col.s1.m1 > div {
	margin-top: 10px;
} 

#root > div > div.dynamic-container > div:nth-child(2) > div.row.m-t-60.m-b-60 > div > div > div > input {
	width: 200px;
}