
/* Pre defined Color Helpers */
.bg-white {
  background-color: white;
}
.white-smoke {
  color: #F7F6F6 ;
}

.semi-black {
  color : #666666;
}

.bg-semi-black {
  background-color: #666666;
}

.d-juan {
  color : #5A4A4F ;
}

.bg-d-juan {
  background-color : #5A4A4F ;
}
.bg-d-juan:hover, .bg-d-juan:focus, .bg-d-juan:active {
  background-color : #262023 ;
  border-color : #30282C ;
}

.bitter-sweet {
  color : #EF6161 ;
}
.bg-bitter-sweet {
  background-color : #EF6161 ;
}

.bg-bitter-sweet:hover, .bg-bitter-sweet:focus, .bg-bitter-sweet:active {
  background-color : #BF4E4F ;
  border-color : #BF4E4F ;
}
.galley {
  color : #D7D6D5; 
}

.my-pink {
  color: #DE907F ;
}

.bg-my-pink {
  background-color: #DE907F ;
}

.bg-pot-pourri {
  background-color:  #EADED8;
}

.pot-pourri {
  color: #EADED8;
}

.hand-hover {
  cursor: pointer;
  user-select: none;
}

.btn-block {
  width: 100%;
}

.inline {
  display: inline;
}

/* Common helpers */

.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0 !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-12 {
  margin-top: 12px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-t-60 {
  margin-top: 60px !important;
}
.m-t-100 {
  margin-top: 100px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-6 {
  margin-bottom: 6px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-12 {
  margin-bottom: 12px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-b-40 {
  margin-bottom: 40px !important;
}
.m-b-60 {
  margin-bottom: 60px !important;
}
.m-b-80 {
  margin-bottom: 80px !important;
}
.m-b-100 {
  margin-bottom: 100px !important;
}
.m-b-140 {
  margin-bottom: 140px !important;
}
.m-b-245 {
  margin-bottom: 245px !important;
}
.m-b-m30 {
  margin-bottom: -30px !important;
}
.m-b-m50 {
  margin-bottom: -50px !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-l-60 {
  margin-left: 60px !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
.m-r-60 {
  margin-right: 60px !important;
}
/*Paddings*/
.p-0 {
  padding: 0 !important;
}
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-40 {
  padding: 40px !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-t-60 {
  padding-top: 60px !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-r-60 {
  padding-right: 60px !important;
}
.p-r-70 {
  padding-right: 70px !important;
}


/*Position Top, bottom, left, right*/
.t-0 {
  top: 0;
}
.t-5 {
  top: 5px;
}
.t-10 {
  top: 10px;
}
.t-15 {
  top: 15px;
}
.b-0 {
  bottom: 0;
}
.b-5 {
  bottom: 5px;
}
.b-10 {
  bottom: 10px;
}
.b-15 {
  bottom: 15px;
}
.l-0 {
  left: 0;
}
.l-5 {
  left: 5px;
}
.l-10 {
  left: 10px;
}
.l-15 {
  left: 15px; 
}
.r-0 {
  right: 0;
}
.r-5 {
  right: 5px;
}
.r-10 {
  right: 10px;
}
.r-15 {
  right: 15px;
}

/*Width %*/
.w-100{
    width: 100% !important;
}
.w-80{
    width: 80% !important;
}
.w-60{
    width: 60% !important;
}
.w-40{
    width: 40% !important;
}
.w-20{
    width: 20% !important;
}

.readable {
  line-height: 1.55;
  word-spacing: 1px;
}

.btn {
  text-transform : none !important;
}