
/* Large Devices, Wide Screens */
@media only screen and (min-width : 993px) {
	.btn-floating {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.editable-rating > .star {
		font-size: 18px;
	}
	.recipe-description {
		height: 100px;
	}
	.recipe-card > .card-content {
		max-height: 100% !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.side-bar {
		display: none;
		width: 100px;
	}
	.materialboxed {
		width: 100%;
    	height: auto;
	}
	.dynamic-container {
		width: 100%;
		padding-left: 0px;
	}
	.dynamic-container > .row .m-t-20 > {
		margin-top: 0px;
	}
	.recipe-card > div.card-content > div > div.col.s1.m1 > div {
		margin-top: 0px !important;
	} 
	.recipe-description {
		height: 85px;
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {


}