
/* Large Devices, Wide Screens */
@media only screen and (min-width : 993px) {
	.btn-floating {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.side-bar {
		display: none;
		width: 100px;
	}
	.materialboxed {
		width: 100%;
    	height: auto;
	}
	.dynamic-container {
		width: 100%;
		padding-left: 0px;
	}
	.dynamic-container > .row .m-t-20 > {
		margin-top: 0px;
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {


}